<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-image: url('../static/bookstore.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </head>

    <body>
        <h1 style="background-color:powderblue;text-align:center;">Welcome to The Library</h1>
        <h2 style="background-color:thistle;text-align:center;">
            Checkout our <a href="/collection">collection of {{.count}} books</a>
        </h2>>
    </body>
</html>
